@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  height: calc(70vh - 130px);
  min-height: 136px;
  padding-bottom: 9%;
}

@media (min-width: 640px) {
  #hero {
    height: calc(83vh - 130px);
    min-height: 215px;
  }
}

@media (min-width: 1024px) {
  #hero {
    height: calc(83vh - 193px);
  }
}

@media (min-width: 1440px) {
  #hero {
    height: calc(83vh - 252px);
  }
}

/* nav pt - 32px to 100px */

/* TODO: for padding of 24px for mobile to 650px.. then 50px till 1440px.. then 105px */
/* TODO: img at 100% width with 0 padding till 1024px... then 50px padding */
